.nav{
 z-index: 2222; 
 position: relative;
width: 100%;

}
.nav_header{
    background:var(--secondary-1);
    position: fixed;
    max-width: 1400px;
    top: 0;
    width: 100%;
  
  height:10vh;
    display: flex;
  color: #fff;
justify-content: space-between;
align-items: center;
    font-family: 'Montserrat', sans-serif;
padding: 0 25px;
}
.nav_header .logo{
    font-size: 1.7rem;

}
.nav_btns{
    display:flex;
    /* align-items: flex-end; */
    align-items: center;
    gap: 2rem;
   height: 100%;
}

.menu_icon{

    position: relative;
    transition: .4s ease;
    cursor: pointer;
font-size: 2rem;
}
.menu_icon span{
    font-size: 1.7rem;

}
.menu_icon .hide_icon{
opacity: 0;
transition: all .4s ;
cursor: pointer;

}
.menu_icon .show_icon{
opacity: 1;
transition: all .4s ;
}
.nav_center{
   background: #fff;
width: 0;
top: 0;
height: 100%;
transition-delay: .6s;
   position: fixed;
   right: -100%;
transition-duration: .6s;
}

.show_nav_center{
transition: 1s;
right: 0;
top: 0;
width: 100%;
background: rgba(0, 0, 0, 0.8);
}




.nav_header .links_container{
    display: none;
    cursor: pointer;
   
}

.nav_header .links_container a{
    color:#fff;
}

.nav_header .resume_btn img{
border-radius: 7px;
width: 30px;
height: 30px;
cursor: pointer;


}

.nav_header .resume_btn.desktop {
    display: none;
    cursor: pointer;
}

.nav_links {
        color: #fff;
    }


@media screen and (min-width:485px) {
    
}

@media screen and (min-width: 1020px) {
 .nav_header .menu_icon{
    display: none;
 }
 .nav_header{
    padding: 0 40px;
 }
    .nav_header .links_container{
        display: flex;
  gap: 2rem;
    }
    .nav_header .resume_btn{
        display: none;
  

    }
    .nav_header .resume_btn.desktop{
      display: block;
    }
   
}




