#about{
  min-height:88vh;

}

#about .heading{
  position: relative;
  text-align: center;
  color: var(--dark-1);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
}
#about .heading::after{
   position: absolute;
   content: "";
   width: 100%;
   height: 4px;
   border-radius: 5px;
   background: var(--primary-1);
   bottom:-1rem ;
   left: 0;
   opacity:.5;
}
.about{
  background: var(--secondary-2);
  color: #fff;
  padding: 10px;
  display:grid;
  height:100%;
  /* justify-content: center; */
  place-items: center;
  padding: 1rem;
  gap: 2rem;
}
.about .left img{
  width: 100%;
  /* max-width: 500px; */
  height: 300px;
  background: #000;
border-radius: 10px;
object-fit: cover;
}

.right{
  letter-spacing: 1.4px;
}
.right .info{
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}
.right .info p{
  line-height: 1.7;
 
}
.right .info span{
  color: var(--primary-1);
}
@media screen and (min-width:750px) {
  .about{
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
  }
  .about .right{
    flex-shrink: 2;
    max-width: 500px;
  }
}