#contact {
  color: #fff;
  background: var(--secondary-2);
  position: relative;
  margin-top: 1rem;
  z-index: 2;
  overflow: hidden;
 padding-bottom:1rem;
}

.contact form {
  position: relative;
  display: grid;
  gap: 1.4rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding:10px;
  padding-bottom: 2rem;
}

.contact form .form_control {
  display: grid;
  gap: 10px;
}
.contact input,
.form_control textarea {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  /* border */
  border: none;
}

.contact textarea {
  height: 100px;
  resize: none;
}

.contact .submit_btn {
  max-width: 200px;
  margin: 10px auto;
  width: 100%;
  font-size: 1.4rem;
  background: var(--primary-2);
  border: none;
  color: #fff;
  cursor: pointer;
}

.contact .msg_box {
  position: absolute;
  background: var(--secondary-2);
  color: #fff;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  border-radius: 10px;
  display: grid;
  gap: 2rem;
  z-index: 22;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  /* z-index: -2; */
}

.loading {
  position: absolute;
  width: 100%;
  top: -1rem;
  height: 4px;
  background: var(--primary-2);
  border-radius: 10px;
  animation: animate 0.7s linear infinite;
}

#contact .social_icons_container{
padding-bottom:10px;
margin: 0 auto;
}

.heading{
  font-size: 2rem;
}
@keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


