.latest_project{
  min-height: 100vh;
  height: fit-content;
  position: relative;
  
}
.latest_project .bg_image {
  background: linear-gradient(rgba(3, 83, 105, 0.831), rgba(0, 5, 5, 0.742)),
    url("https://images.unsplash.com/photo-1439158771502-46975f6e44e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFzaGlvbiUyMHdhbGxwYXBlcnxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -2;
}

.latest_project .content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  max-width: 900px;
  width: 100%;
  color: aliceblue;

  padding: 25vh 1rem 1rem 1rem;
  z-index: 22;
  min-height: 100vh;
}

.latest_project .content h2 {
  font-size: 3rem;
  color: rgb(10, 196, 253);
}
.latest_project .content p {
  line-height: 1.5;
  font-size: 1.4rem;
}
.latest_project .content a {
  text-decoration: none;

  background: var(--secondary-3);
  color: var(--primary-1);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  animation: animateBtn 3s linear infinite;
  font-size: 1.4rem;
}

@keyframes animateBtn {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 500px) {
  .latest_project .content h2 {
    font-size: 5rem;
    letter-spacing: 2px;
  }
  .latest_project .content span {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 800px) {
  .latest_project .content h2 {
    font-size: 6rem;
    letter-spacing: 2px;
  }
  .latest_project .content span {
    font-size: 2rem;
  }
 
}

@media screen and (min-width: 1000px) {
  .latest_project .content h2 {
    font-size: 8rem;
    letter-spacing: 4px;
  }

  .latest_project .content {
    padding-left: 4rem;
  }
}

/* more projects  */

.more_projects .category{
display: flex;
gap: 5px;
padding-left: 4px;
padding-bottom:5px;
}
.more_projects .category button{
  background: var(--secondary-3);
  border: none;
  padding:  10px;
  border-radius: 5px;
  /* color: var(--primary-2); */
  color: var(--lime-1);

  font-size: 1.4rem;
  cursor: pointer;
}
.more_projects .category button.active{
  background: var(--primary-3);
  color: var(--lime-1);
}