.sidebar {
  width: 100%;
  max-width: 400px;
  position: fixed;
  right: -100%;
  transition: 0.5s;
  height: 100%;
  background: #fff;
  top: 0;
  z-index: 222;
}
.show_sidebar {
  right: 0;
  transition-delay: 0.2s;
}

.sidebar_link {
  display: grid;
  place-items: center;
  width: 100%;
}

.sidebar_link a .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3rem;
  font-size: 1.2rem;
  color: var(--primary-2);
}
.sidebar_link .sublink {
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-left: 7rem;
  width: 100%;
}

.sidebar_link a {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--primary-3);
  line-height: 2.5rem;
  position: relative;
  text-decoration: none;
  color: #000;
  color: var(--dark-3);
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}
.sidebar_header .close_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-2);
}
.sidebar_header .logo {
  font-size: 1.7rem;
  height: 5vh;
}
.sidebar_header .logo img {
  height: 100%;
  border-radius: 10px;
}
